<title>SET</title>

<!-- lib js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/lib/js/login_modal.js"></script>

<!-- lib css -->
<link rel="stylesheet" type="text/css" href="lib/css/login_modal.css" />

<!-- js -->
<script type="text/javascript" src="/js/login.js"></script>

<!-- css -->
<link rel="stylesheet" type="text/css" href="/css/nav.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
