<!DOCTYPE html>

<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    Hello World!

    <% include ../partials/login_modal.ejs %>
  </body>

</html>
